@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  background: #27ae60; }

h1, h2, h3, p {
  color: #ecf0f1;
  text-shadow: 2px 2px #1a7d47; }

.center-text {
  text-align: center; }

/* ########### Line effect ###########*/
/* Line 1 */
a.line-1 {
  color: #efefef;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
  padding-bottom: 2px; }
  a.line-1:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: #efefef;
    height: 2px;
    transition: 0.3s ease-out; }
  a.line-1:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #efefef;
    height: 2px;
    transition: 0.3s ease-out; }
  a.line-1:hover:before, a.line-1:focus:before, a.line-1:active:before {
    right: 0; }
  a.line-1:hover:after, a.line-1:focus:after, a.line-1:active:after {
    left: 0; }

/* Line 2 */
a.line-2 {
  color: #efefef;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden; }
  a.line-2:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: #efefef;
    height: 2px;
    transition: 0.3s ease-out; }
  a.line-2:hover:before, a.line-2:focus:before, a.line-2:active:before {
    right: 0; }

/* Line 3 */
a.line-3 {
  color: #efefef;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
  padding-bottom: 2px; }
  a.line-3:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #efefef;
    height: 2px;
    transition: 0.3s ease-out; }
  a.line-3:hover:after, a.line-3:focus:after, a.line-3:active:after {
    left: 0; }

/* ########### Flip effect ########### */
a.flip-1 {
  color: #efefef;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
  padding: 5px; }
  a.flip-1:hover {
    color: #27ae60;
    background: #efefef; }

/* ########### Rotate effect ########### */
a.rotate-1 {
  color: #efefef;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-out; }
  a.rotate-1:hover {
    transform: rotate(360deg);
    transition: 0.3s ease-out; }

a.rotate-2 {
  color: #efefef;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-out; }
  a.rotate-2:hover {
    transform: rotate(-360deg);
    transition: 0.3s ease-out; }

/* ########### Scale effect ########### */
a.scale-1 {
  color: #efefef;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
  transition: 0.1s ease-out; }
  a.scale-1:hover {
    transform: scale(1.1);
    transition: 0.1s ease-out; }

a.scale-2 {
  color: #efefef;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
  transition: 0.1s ease-out; }
  a.scale-2:hover {
    transform: scale(0.9);
    transition: 0.1s ease-out; }

a.scale-3 {
  color: #efefef;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden; }
@-moz-keyframes scale {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.1); }
  60% {
    transform: scale(1); } }
@-webkit-keyframes scale {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.1); }
  60% {
    transform: scale(1); } }
  a.scale-3:hover {
    -webkit-animation: scale 0.5s linear;
    -moz-animation: scale 0.5s linear; }

/* ########### Space effect ########### */
a.space-1 {
  color: #efefef;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-out; }
  a.space-1:hover {
    letter-spacing: 3px;
    transition: 0.2s ease-out; }

/* ########### Bounce effect ########### */
a.bounce-1 {
  color: #efefef;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden; }
@-moz-keyframes bounce-up {
  0% {
    bottom: 0;
    animation-timing-function: ease-out; }
  17% {
    bottom: 15px;
    animation-timing-function: ease-in; }
  34% {
    bottom: 0;
    animation-timing-function: ease-out; }
  51% {
    bottom: 8px;
    animation-timing-function: ease-in; }
  68% {
    bottom: 0px; }
  85% {
    bottom: 3px;
    animation-timing-function: ease-in; }
  100% {
    bottom: 0; } }
@-webkit-keyframes bounce-up {
  0% {
    bottom: 0;
    animation-timing-function: ease-out; }
  17% {
    bottom: 15px;
    animation-timing-function: ease-in; }
  34% {
    bottom: 0;
    animation-timing-function: ease-out; }
  51% {
    bottom: 8px;
    animation-timing-function: ease-in; }
  68% {
    bottom: 0px; }
  85% {
    bottom: 3px;
    animation-timing-function: ease-in; }
  100% {
    bottom: 0; } }
  a.bounce-1:hover {
    -webkit-animation: bounce-up  0.5s linear;
    -moz-animation: bounce-up  0.5s linear; }

a.bounce-2 {
  color: #efefef;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden; }
@-moz-keyframes bounce-dowm {
  0% {
    top: 0;
    animation-timing-function: ease-out; }
  17% {
    top: 15px;
    animation-timing-function: ease-in; }
  34% {
    top: 0;
    animation-timing-function: ease-out; }
  51% {
    top: 8px;
    animation-timing-function: ease-in; }
  68% {
    top: 0px; }
  85% {
    top: 3px;
    animation-timing-function: ease-in; }
  100% {
    top: 0; } }
@-webkit-keyframes bounce-dowm {
  0% {
    top: 0;
    animation-timing-function: ease-out; }
  17% {
    top: 15px;
    animation-timing-function: ease-in; }
  34% {
    top: 0;
    animation-timing-function: ease-out; }
  51% {
    top: 8px;
    animation-timing-function: ease-in; }
  68% {
    top: 0px; }
  85% {
    top: 3px;
    animation-timing-function: ease-in; }
  100% {
    top: 0; } }
  a.bounce-2:hover {
    -webkit-animation: bounce-dowm  0.5s linear;
    -moz-animation: bounce-dowm  0.5s linear; }
