@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  background: #ffc107;
}

h1, h2, h3, p {
  color: #e67e22;
}

.center-text {
  text-align: center;
}

a.line {
  color: #795548;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
  border-top: 2px solid none;
  border-bottom: 2px solid none;
}
a.line:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #795548;
  height: 2px;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
a.line:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #795548;
  height: 2px;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
a.line:hover:before, a.line:focus:before, a.line:active:before {
  right: 0;
}
a.line:hover:after, a.line:focus:after, a.line:active:after {
  left: 0;
}

a.flip {
  color: #795548;
  text-decoration: none;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
  border-top: 2px solid none;
  border-bottom: 2px solid none;
}
a.flip:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #ecf0f1;
  height: 100%;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
a.flip:hover:after, a.flip:focus:after, a.flip:active:after {
  left: 0;
}
