// Imports 
@import 'colors';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);

// General styles

html { 
    font-size: 62.5%; 
}

body { 
    font-size: 1.5em; 
    line-height: 1.6; 
    font-weight: 400; 
    font-family: 'Open Sans', sans-serif; 
    background: $nephritis;
}

h1,h2,h3,p {
    color: $clouds;
    text-shadow: 2px 2px $greenDark;
}

.header {
    height: 150px;
    width: 100%;
    background: $orange;
    border-bottom: 1px solid $carrot;
    box-shadow: 0px 3px 5px $greenDark;
    .inner {
        max-width: 900px;
        height: 100%;
        padding-top: 15px;
        margin: 0 auto;
        color: $clouds;
        text-align: center;
        h1 {
            font-size: 240%;
            text-shadow: 2px 2px $carrot; 
        }
    }
}

.center-text {
    text-align: center;
}

/* ########### Line effect ###########*/
@import 'effects/line-effect';

/* ########### Flip effect ########### */
@import 'effects/flip-effect';

/* ########### Rotate effect ########### */
@import 'effects/rotate-effect';

/* ########### Scale effect ########### */
@import 'effects/scale-effect';

/* ########### Space effect ########### */
@import 'effects/space-effect';

/* ########### Bounce effect ########### */
@import 'effects/bounce-effect';

/* ########### Hover effect ########### */
@import 'effects/hover-effect';

/* ########### Border effect ########### */
@import 'effects/border-effect';