a.rotate-1 {
    color: $paper;
    text-decoration: none;
    font-size: 120%;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6;
    position: relative;
    overflow: hidden;
    padding: 5px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    &:hover {
        transform: rotate(360deg);
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }
}

a.rotate-2 {
    color: $paper;
    text-decoration: none;
    font-size: 120%;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6;
    position: relative;
    overflow: hidden;
    padding: 5px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    &:hover {
        transform: rotate(-360deg);
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }
}