a.rotate-1 {
    color: $paper;
    text-decoration: none;
    font-size: 120%;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-out;
    &:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transition: 0.3s ease-out;
    }
}

a.rotate-2 {
    color: $paper;
    text-decoration: none;
    font-size: 120%;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-out;
    &:hover {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        transition: 0.3s ease-out;
    }
}