a.scale-1 {
    color: $paper;
    text-decoration: none;
    font-size: 120%;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6;
    position: relative;
    overflow: hidden;
    transition: 0.1s ease-out;
    &:hover {
        transform: scale(1.1);
        transition: 0.1s ease-out;
    }
}

a.scale-2 {
    color: $paper;
    text-decoration: none;
    font-size: 120%;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6;
    position: relative;
    overflow: hidden;
    transition: 0.1s ease-out;
    &:hover {
        transform: scale(0.9);
        transition: 0.1s ease-out;
    }
}
a.scale-3 {
    color: $paper;
    text-decoration: none;
    font-size: 120%;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6;
    position: relative;
    overflow: hidden;
    @-moz-keyframes scale {
        0% { transform: scale(1); }
        20% { transform: scale(1.1); }
        60% { transform: scale(1); }
    }
    @-webkit-keyframes scale {
        0% { transform: scale(1); }
        20% { transform: scale(1.1); }
        60% { transform: scale(1); }
    }
    &:hover {
        -webkit-animation: scale 0.5s linear;
        -moz-animation: scale 0.5s linear;
    }
}